.card-product__madia-wrapper {
    margin-bottom: 1rem;
    width: 100%;
}

.card-product__vendor {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    text-transform: capitalize;
    opacity: .7;
}

.card-product__title {
    margin-bottom: 1rem;
}

.card-product__price {
    .price__sale {
        display: none;
    }

    dl {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }

    dd {
        margin: 0;
    }

    .price-item--regular {
        color: var(--cart-drawer-title-color);
    }

    &.price--on-sale .price__regular {
        display: none;
    }

    &.price--on-sale .price__sale {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &.price--on-sale .price__sale dd.price__compare {
        margin-right: 0.6rem;
    }

    &.price--on-sale .price__sale .price-item--regular {
        opacity: 0.7;
    }

    &.price--on-sale .price__sale .price-item--sale {
        color: var(--color-danger);
    }
}

.card-product__form {
    margin-top: 2rem;
}

.card-product__variants {
    margin-bottom: 1rem;
}

